<!DOCTYPE html>
<html lang="en">
    <head>
        {%- if eleventy.production -%}
            {% include "_tagmanager-head.njk" %}
        {%- endif -%}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title or metadata.siteTitle }}</title>
        <link rel="stylesheet" href="/css/main.css">
        <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">

    </head>
    <body class="max-w-2xl mx-auto px-8">
        {%- if eleventy.production -%}
            {% include "_tagmanager-body.njk" %}
        {%- endif -%}
        
        <div class="prose prose-sm sm:prose lg:prose-lg xl:prose-2xl mx-auto">
            <h1>
                <a href="/">Giustino Borzacchiello</a>
            </h1>
            {{ content | safe }}
        </div>
    </body>
</html>

mv 2015-* 2015
mv 2016-* 2016
mv 2017-* 2017
mv 2018-* 2018
mv 2019-* 2019
mv 2020-* 2020