<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Eleventy Starter</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body class="max-w-2xl mx-auto px-8">
        <div class="prose prose-sm sm:prose lg:prose-lg xl:prose-2xl mx-auto">
            <h1>
                <a href="/">Giustino Borzacchiello</a>
            </h1>
            {{ content | safe }}
        </div>
    </body>
</html>