---
layout: base.njk
---

<h1 class="text-center">{{ title }}</h1>
<p class="text-center italic">Published on <time itemprop="datePublished" datetime="Mon Jun 13 2022 12:56:00 GMT+0000 (Coordinated Universal Time)">{{ date | readableDate }}</time></p>
<p></p>

{{ content | safe }}