---
layout: base.njk
---

<h1 class="text-center text-4xl">{{ title }}</h1>
<p class="text-center italic">Published on <time itemprop="datePublished">{{ date | readableDate }}</time></p>

{{ content | safe }}