---
layout: base.njk
---

<h2>Articles</h2>

{%- set postslist = collections.posts | reverse -%}

{%- for post in postslist -%}
    <h3>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    </h3>
{%- endfor -%}