---
layout: base.njk
---

<h2>Articles</h2>

{%- set postslist = collections.posts | reverse -%}
<ul>
{%- for post in postslist -%}
    
    <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
    
{%- endfor -%}
</ul>