---
layout: base.njk
---

<h2>Me in 10 seconds</h2>
<p class="lead">I'm a former Software Engineer turned UX Designer and Entrepreneur at <a href="https://donux.com">Donux</a>

<h2>Me in 1 minute</h2>
<p class="lead">Read more in the <a href="/about-me/">about page</a></p>

    <h2 class="inline-block">Recent Articles</h2>
    <a class="ml-8 text-lg" href="/blog/">See all</a>
{%- set postslist = collections.featured | reverse -%}

{%- for post in postslist.slice(0,5) -%}
    <h3>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    </h3>
    <p class="articleList-date text-gray-800">
        <time date-time="{{ post.date }}">{{ post.date | readableDate }}</time>
    </p>
{%- endfor -%}