---
layout: base.njk
---

<h2>Me in 10 seconds</h2>
<p>I've been a software engineer, engineering manager, <a href="https://donux.com">entrepreneur 🍩</a>, UX designer, speaker, and event organizer.</p>
<p>Originally from Naples 🍕, now I live in Turin 🍫</p>
<p>I like to do many things at once.</p>

<h2>Me in 1 minute</h2>
<p>Read more in the <a href="/about-me/">about page</a></p>

    <h2 class="inline-block">Best Articles</h2>
    <a class="ml-8 text-lg" href="/blog/">See all</a>
{%- set postslist = collections.featured | reverse -%}

{%- for post in postslist.slice(0,5) -%}
    <h3>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    </h3>
    <p class="articleList-date text-gray-800">
        <time date-time="{{ post.date }}">{{ post.date | readableDate }}</time>
    </p>
{%- endfor -%}